
.primary_header {
              background: #89c;
              text-align: center;
              float: center;
              font-family:comic sans-serif;
              box-shadow: 10px 10px 10px 1px #444;
              text-shadow: 1px 1px 1px rgba(10, 10, 10, 1);
              position: relative;
              padding: 1px;
              border-style: outset;
              border-color: #999;
              border-width: 1px;
 }



p.aside {

        font-color: #000000;
        font-family: courier;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
        letter-spacing: -1px;
        padding: 2px;
        text-align: center;
}

p.main {
        font-family: lucida console;
        font-size: 30px;
        margin: 5px;
        letter-spacing: .5px;
        text-align: center;
}

article {
        background-color: rgba(249, 245, 220, 0.45);
        margin-left: 10%;
        margin-right: 10%;
}

body {
        background: #d9ffff;
        background: -webkit-linear-gradient(#d9ffff, #8294ac);
        background:    -moz-linear-gradient(#d9ffff, #8294ac);
        background:         linear-gradient(#d9ffff, #8294ac);
        padding-bottom: 50%;
        text-align: center;
}
